## Creación de un Web Service

In [1]:
from flask import Flask

In [46]:
# Es necesario borrar la app si se quiere volver a crear
del app

app = Flask("Mi primer web service")

In [37]:
# Le indicamos la ruta que hay que seguir para llegar al web service
@app.route('/hello')
def get_hello():
    return "Hola desde Flask!"

In [7]:
app.run()

In [8]:
@app.route('/bye')
def get_bye():
    return "Vale!"

### Creamos un web service que devuelve los n primeros aeropuertos

In [39]:
# Creamos la función que llevará nuestro web service
import pandas as pd

def getTopAirports(n):
    b = pd.read_csv("/home/dsc/Repositories/Master-in-Data-Science/bookings.csv.bz2",
                    sep="^",
                    nrows=1e5,
                   usecols=["arr_port","pax"])
    g = b.groupby("arr_port")
    s = g.pax.sum()
    d = s.reset_index()
    return d.sort("pax",ascending = False).head(n)

In [35]:
# Comprobamos que funciona correctamente
getTopAirports(3)

      arr_port   pax
733   LHR       1006
798   MCO        861
620   JFK        795
706   LAX        761
156   BKK        747
704   LAS        732
1159  SFO        705
957   ORD        686
232   CDG        676
366   DXB        587

In [47]:
# Le tenemos que pasar un parámetro de entrada que será el top n
# <int:X> tipo int con nombre x
@app.route("/top/<int:x>")
def get_top(x):
    df = getTopAirports(x)
    # return df no porque lo devuelve en binario
    j = df.to_json()
    return j

In [49]:
app.run()