In [1]:
# Limitamos el fichero a las 100.000 primeras líneas
import pandas as pd

In [44]:
bookings = pd.read_csv("/home/dsc/Repositories/Master-in-Data-Science/bookings.csv.bz2",sep="^",nrows=1e5)

In [3]:
bookings.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

## top 10 de aeropuertos por número de pasajeros

In [4]:
bookings.columns

Index([u'act_date           ', u'source', u'pos_ctry', u'pos_iata',
       u'pos_oid  ', u'rloc          ', u'cre_date           ', u'duration',
       u'distance', u'dep_port', u'dep_city', u'dep_ctry', u'arr_port',
       u'arr_city', u'arr_ctry', u'lst_port', u'lst_city', u'lst_ctry',
       u'brd_port', u'brd_city', u'brd_ctry', u'off_port', u'off_city',
       u'off_ctry', u'mkt_port', u'mkt_city', u'mkt_ctry', u'intl',
       u'route          ', u'carrier', u'bkg_class', u'cab_class',
       u'brd_time           ', u'off_time           ', u'pax', u'year',
       u'month', u'oid      '],
      dtype='object')

In [78]:
df=bookings[['arr_port','pax']].groupby("arr_port").sum().sort("pax",ascending=False).head(10)

In [79]:
df =df.reset_index()
df

   arr_port   pax
0  LHR       1006
1  MCO        861
2  JFK        795
3  LAX        761
4  BKK        747
5  LAS        732
6  SFO        705
7  ORD        686
8  CDG        676
9  DXB        587

In [35]:
# Lo mismo pero con todos los registros
b = pd.read_csv("/home/dsc/Repositories/Master-in-Data-Science/bookings.csv.bz2",sep="^",usecols=['arr_port','pax'])

In [36]:
df2=b[['arr_port','pax']].groupby("arr_port").sum().sort("pax",ascending=False).head(10)

In [38]:
df2

            pax
arr_port
LHR       88809
MCO       70930
LAX       70530
LAS       69630
JFK       66270
CDG       64490
BKK       59460
MIA       58150
SFO       58000
DXB       55590

In [39]:
df2.reset_index()

   arr_port    pax
0  LHR       88809
1  MCO       70930
2  LAX       70530
3  LAS       69630
4  JFK       66270
5  CDG       64490
6  BKK       59460
7  MIA       58150
8  SFO       58000
9  DXB       55590

## Importamos la librería GeoBases

In [40]:
from GeoBases import GeoBase

In [48]:
g = GeoBase("ori_por",verbose=False)

In [43]:
# Si tenemos el nombre del aeropuerto, podemos obtener el nombre de la ciudad utilizando esta biblioteca
g.get("MUC")["name"]

'Munich International Airport'

In [81]:
df_arr_port = df.arr_port

In [82]:
names=[]
for i in df_arr_port:
    names.append(g.get(i.strip())["name"])   
#strip para quitar espacios

In [83]:
names

['London Heathrow Airport',
 'Orlando International Airport',
 'John F Kennedy International Airport',
 'Los Angeles International Airport',
 'Suvarnabhumi',
 'Mc Carran International Airport',
 'San Francisco International Airport',
 "Chicago O'Hare International Airport",
 'Paris - Charles-de-Gaulle',
 'Dubai International Airport']

In [84]:
df["names"]=names
df

### Lo mismo de antes pero utilizando apply

In [86]:
cities = df.arr_port.apply(lambda a: g.get(a.strip())["city_name_ascii"])

In [87]:
cities

0           London
1          Orlando
2    New York City
3      Los Angeles
4          Bangkok
5        Las Vegas
6    San Francisco
7          Chicago
8            Paris
9            Dubai
Name: arr_port, dtype: object

In [88]:
df["cities"] = cities
df

In [90]:
countries = df.arr_port.apply(lambda a: g.get(a.strip())["country_name"])

In [91]:
df["countries"] = countries
df

,arr_port,pax,names,cities,countries
0,LHR,1006,London Heathrow Airport,London,United Kingdom
1,MCO,861,Orlando International Airport,Orlando,United States
2,JFK,795,John F Kennedy International Airport,New York City,United States
3,LAX,761,Los Angeles International Airport,Los Angeles,United States
4,BKK,747,Suvarnabhumi,Bangkok,Thailand
5,LAS,732,Mc Carran International Airport,Las Vegas,United States
6,SFO,705,San Francisco International Airport,San Francisco,United States
7,ORD,686,Chicago O'Hare International Airport,Chicago,United States
8,CDG,676,Paris - Charles-de-Gaulle,Paris,France
9,DXB,587,Dubai International Airport,Dubai,United Arab Emirates